{% extends 'hostels/base.html' %}


{% block title %}About{% endblock %}
{% block content %}
<section class="user">
	<div class="container">
		<h1 class="text-decoration-underline mb-3 text-center text-dark">About UNARCOM</h1>

		<p><i class="fa-solid fa-chevron-right text-success"></i> UNARCOM <span class="fw-bolder text-decoration-underline">(Universal Accommodation and Rentals Company).</span> We are dedicated to providing you with the best possible experience when it comes to finding and booking accommodation, Apartment for workers, Lands for sale and General property rentals such building equipment to mention just a few. 
		</p>

		<p><i class="fa-solid fa-chevron-right text-success"></i> Our site allows you to filter your search results based on different criteria such as location, price, amenities and more. This way, you can easily narrow down your options and find the perfect place to call home.
		</p>
		<p><i class="fa-solid fa-chevron-right text-success"></i> We also provide detailed information about each property, including photos, floor plans, and virtual tours. You can view the property's features and facilities, read reviews from other students, and compare prices to make an informed decision.</p>
	</div>
</section>
{% endblock %}