{% extends 'hostels/base.html' %}


{% block title %}About{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="container pb-bottom">
        <div class="row g-5 align-items-center d-flex justify-content-center">
            <div class="col-lg-6">
                <h6 class="section-title text-start text-danger text-uppercase">About Us</h6>
                <h1 class="mb-4">Welcome to <span class="text-danger text-uppercase">Ulas</span></h1>
                <p class="mb-4">Ulas is a campus base hostel management system where students can find their dream hostel at the comfort of their home even stepping foot on campus. We are your number one partner in terms of hostel search
                </p>
                <div class="row g-3 mb-4">
                    <div class="col-sm-4 wow fadeIn mb-5" data-wow-delay="0.1s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-hotel fa-2x text-danger mb-2"></i>
                                <h2 class="mb-1" data-toggle="counter-up">{{count}}</h2>
                                <p class="mb-0">Rooms</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-users-cog fa-2x text-danger mb-2"></i>
                                <h2 class="mb-1" data-toggle="counter-up">{{staff}}</h2>
                                <p class="mb-0">Staff</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-users fa-2x text-danger mb-2"></i>
                                <h2 class="mb-1" data-toggle="counter-up">{{all_users}}</h2>
                                <p class="mb-0">Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}