{% extends 'hostels/base.html' %}


{% block title %}Room List{% endblock %}
{% block content %}
<section class="user">

    <h1 class="text-center text-capitalize">hi</h1>
    <hr>

    <div class="container">
        <div class="row d-flex justify-content-between sm-margin">

            <div class="col-sm-12 col-md-4 col-lg-3 mb-3" data-aos="fade-up">
                {% for tenant in tenants %}
                {{tenant.room_no}}
                {% endfor %}
            </div>

        </div>
    </div>
</section>
{% endblock %}
