<!--extending the base template of the app-->
{% extends 'hostels/base.html' %} 
<!--loading crispy form tags-->
{% load static %} {% load crispy_forms_tags %}
<!--title block-->
{% block title %}unacom - request to book{% endblock %} 

<!---content block-->
{% block content %}
<section class="pb-4 user">
  <div class="container py-1 mb-5 pb-5">
    <form method="POST">
      {% csrf_token %}
      <div class="row bg-light d-flex justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="form-group">
            <div class="text-danger">{{form|crispy}}</div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5"><button class="btn btn-outline-danger px-5" type="submit">Book</button></div>
    </form>
  </div>
</section>
{% endblock %}
