{% extends 'hostels/base.html' %}


{% block title %}Contact{% endblock %}
{% block content %}
<!-- Contact Start -->
<div class="container-xxl py-5 pb-5 mb-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-danger text-uppercase">Contact Us</h6>
            <h1 class="mb-5"><span class="text-danger text-uppercase">Contact</span> For Any Query</h1>
        </div>
        <div class="row g-4 mb-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <h6 class="text-start text-danger text-uppercase">Booking</h6>
                        <p><i class="fa fa-envelope-open text-danger me-2"></i>book@example.com</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+233 594438287</p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-start text-danger text-uppercase">General</h6>
                        <p><i class="fa fa-envelope-open text-danger me-2"></i>info@example.com</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+233 594438287</p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-start text-danger text-uppercase">Marketting</h6>
                        <p><i class="fa fa-envelope-open text-danger me-2"></i>tech@example.com</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+233 594438287</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock %}