{% extends 'hostels/base.html' %}
{% load static %}


{% block title %}Booking Details{% endblock %}
{% block content %}
<section class="user">
    <div class="container">
        <div class="row bg-light  d-flex justify-content-center pb-5 mb-5">
            <div class="col-sm-12 col-md-12 col-lg-8">
            	 <p class="lead text-center p-3 fw-bold text-dark">
                Booking Details.
            	</p>
                <div class="text-success d-flex justify-content-center">
                    {% for booking in dash %}
                    {{booking.hostel}}
                    {% empty %}
                    You have got no booking yet
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}