{% extends 'hostels/base.html' %}
{% load static %}
{% load tags %}

{% block title %}{{object.hostel_name}} Hostel - {{hostel.school.name}}-{{hostel.campus}} {% endblock %}
{% block content %}
<section class="details-mt mb-2">
    <p class="mx-3 lead text-uppercase"><a href="{% url 'rooms' %}" class="text-danger fw-bold"
            target="_blank">{{object.hostel_name}} ({{hostel.school.name}}-{{hostel.campus}})</a></p>
    <hr>
</section>
<section>
    <div class="container">
        <div class="text-center h7"><span class="px-2 py-2 fw-bold mb-5 bg-light">Property own by @{{object.owner_name}}</span></div>
        <h4 class="mb-3 mt-3 text-capitalize text-decoration-underline fw-bold">where you will stay!</h4>
        <div class="d-flex justify-content-center">
            <div class="row g-1">
                <div class="col-md-8">
                    <div class="row g-1">
                        <div class="col-md-4 div-place">
                            <img src="{{object.image.url}}" class="img-fluid">
                            <button class="btn btn-light btn-md show-all d-block d-md-none" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><i class="fa-solid fa-ellipsis-vertical"></i> <i
                                    class="fa-solid fa-ellipsis-vertical"></i> Show all</button>
                        </div>
                        <div class="col-md-4 d-none d-sm-block d-lg-block">
                            <img src="{{object.image.url}}" class="img-fluid">
                        </div>
                        <div class="col-md-4 d-none d-sm-block d-lg-block">
                            <img src="{{object.image.url}}" class="img-fluid">
                        </div>
                        <div class="col-md-4 d-none d-sm-block d-lg-block">
                            <img src="{{object.image.url}}" class="img-fluid">
                        </div>
                        <div class="col-md-4 d-none d-sm-block d-lg-block">
                            <img src="{{object.image.url}}" class="img-fluid">
                        </div>
                        <div class="col-md-4 d-none d-sm-block d-lg-block div-place">
                            <img src="{{object.image.url}}" class="img-fluid">
                            <button class="btn btn-light btn-md show-all" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><i class="fa-solid fa-ellipsis-vertical"></i> <i
                                    class="fa-solid fa-ellipsis-vertical"></i> Show all</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="text-capitalize mb-3 mt-5 text-decoration-underline fw-bold">What this place offers!</h4>
        <div class="row">
            <div class="col-md-9">
                <!--offers inner row-->
                <div class="row">
                    {{ object.hostel_amenities|slice:"3" }}
                    {% if object.wifi %}
                    <div class="col-md-6 col-sm-12 py-1">
                        <span class="text-muted text-capitalize"><i
                                class="fa-solid fa-wifi text-danger border p-1 b-radius bg-light shadow"> </i>     {{ object.wifi }}</span>
                    </div>
                    {% endif %}
                    {% if object.bath_rooms %}
                    <div class="col-md-6 col-sm-12 py-1">
                        <span class="text-muted text-capitalize"><i
                                class="fa-solid fa-bath text-danger border p-1 b-radius bg-light shadow"></i> {{ object.bath_rooms }}</span>
                    </div>
                    {% endif %}
                    {% if object.toilet %}
                    <div class="col-md-6 col-sm-12 py-1">
                        <span class="text-muted text-capitalize"><i
                                class="fa-solid fa-toilet text-danger border p-1 b-radius bg-light shadow"></i> {{ object.toilet }}</span>
                    </div>
                    {% endif %}
                    {% if object.water %}
                    <div class="col-md-6 col-sm-12 py-1">
                        <span class="text-muted text-capitalize"><i
                                class="fa-solid fa-droplet text-danger border p-1 b-radius bg-light shadow"></i> {{ object.water }}</span>
                    </div>
                    {% endif %}
                    {% if object.study_area %}
                    <div class="col-md-6 col-sm-12 py-1">
                        <span class="text-muted text-capitalize"><i
                                class="fa-solid fa-droplet text-danger border p-1 b-radius bg-light shadow"></i> {{ object.study_area }}</span>
                    </div>
                    {% endif %}
                    {% if object.power_supply %}
                    <div class="col-md-6 col-sm-12 py-1">
                        <span class="text-muted text-capitalize"><i
                                class="fa-solid fa-book-open-reader text-danger border p-1 b-radius bg-light shadow"></i> {{ object.power_supply }}</span>
                    </div>
                    {% endif %}
                    {% if object.ac_fan %}
                    <div class="col-md-6 col-sm-12 py-1">
                        <span class="text-muted text-capitalize"><i
                                class="fa-solid fa-plug text-danger border p-1 b-radius bg-light shadow"></i> {{ object.ac_fan }}</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8 col-sm-12 mt-5 mb-5 p-2">
            <h4 class="text-decoration-underline fw-bold">What should know about. <span class="text-danger">({{object.hostel_name}})</span></h4>
            <p class="text-dark">{{ object.details|safe }}</p>
        </div>
    </div>
    <!--Maps-->
    <div class="container">
        <h4 class="text-decoration-underline fw-bold">See this place on the maps.<span class="text-danger">
        <div class="d-flex justify-content-center">
            <div class="row g-1">
                <div class="col-md-10 map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15746.00697071983!2d-0.8961187!3d9.37728295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sgh!4v1685018330465!5m2!1sen!2sgh" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!--reserve-->
<div class="col-lg-3 col-md-4 reserve bg-light shadow">
    <h3 class="mx-2 text-capitalize font-monospace d-flex d-none d-sm-block d-lg-block">{{object.hostel_name}}</h3>
    <p class="mx-5 mt-3 mb-1 px-1 text-dark text-center border bg-light shadow  d-none d-sm-block d-lg-block"><span
            class="fw-bolder text-danger text-decoration-underline">Gh₵{{object.get_cost}}</span> for two semesters</p>
    <div class="d-flex d-none d-sm-block d-lg-block mx-3">
        <ul>
            <li><span class="fw-bold">{{object.get_dist}} walk to campus</span></li>
        </ul>
    </div>
    <div class="mx-5 d-none d-sm-block d-lg-block"><label for="guest" class="fw-bold">Guests</label>
        <select id="guest" name="guest" class="px-3">
            <option value="1" selected>I am coming alone.</option>
            <option value="2">2 guests.</option>
            <option value="3">3 guests.</option>
            <option value="4">4 guests.</option>
        </select>
    </div>
    <!--on large devices-->
    <div class="text-center my-3 d-none mx-1 btn-reserve py-2 d-sm-none d-md-block">
        <a href="{% url 'pay' object.pk %}" role="button"
            class="text-decoration-none btn btn-danger btn-lg text-center">book a room
            @{{object.hostel_name|truncatechars:5}}</span></a>
           <!-- <a href="#javascriptVoid()" role="button"
            class="text-decoration-none btn btn-danger btn-lg text-center">Contact: 0594438287</span></a>-->
    </div>
</div>
</div>
<!--for phones-->
<div class="d-flex justify-content-between bg-light  shadow d-block d-md-none mx-2 fix-bottom px-2 btn-reserve">
    <p class="text-dark text-center"><span
            class="fw-bolder text-danger text-decoration-underline">Gh₵{{object.get_cost}}</span></p>
    <!--<a href="{% url 'pay' object.pk %}" role="button"
        class="text-decoration-none btn btn-danger btn-sm btn-reserve mobile-btn">book a room
        @{{object.hostel_name|truncatechars:5}}</span></a>-->
        <a href="#javascriptVoid()" role="button"
        class="text-decoration-none btn btn-danger btn-sm btn-reserve mobile-btn">Contact: 0594438287</span></a>
</div>

<!-- show more -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{object.hostel_name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-1">
                    <div class="col-md-4 col-sm-12">
                        <img src="{{ object.image.url }}" class="img-fluid">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img src="{{ object.image.url }}" class="img-fluid">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img src="{{ object.image.url }}" class="img-fluid">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img src="{{ object.image.url }}" class="img-fluid">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img src="{{ object.image.url }}" class="img-fluid">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img src="{{ object.image.url }}" class="img-fluid">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img src="{{ object.image.url }}" class="img-fluid">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img src="{{ object.image.url }}" class="img-fluid">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img src="{{ object.image.url }}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}