{% extends 'hostels/base.html' %}
{% load static %}

{% block title %}Students Hostels{% endblock %}
{% block navbar %}
<!--navbar for the various available schools-->
<section class="bg-light bg-onscroll fixed-top">
    <nav>
        <div class="container-fluid d-flex justify-content-between p-3 mx-1">
            <div class="col-md-1 d-flex align-items-center">
                <a href="{% url 'home' %}" class="nav-brand"><img src="{% static 'hostels/images/unarcom.jpg' %}" alt="unarcom logo"
                        class="img-fluid icon-radius"></a>
            </div>
            <div class="col-md-5 col-lg-3 py-1 col-sm-12 d-flex justify-content-between bg-light shadow-lg nav-border">
                <button class="btn btn-sm btn-light border-end fw-bolder btn-border">
                    Apartments</button>
                <button class="btn btn-sm btn-light border-end fw-bolder btn-border">
                    Lands</button>
                <button class="btn btn-sm btn-pink btn-border"><i
                        class="fa-solid fa-magnifying-glass text-light"></i></button>
            </div>
            <div class="col-3 d-none d-lg-block d-sm-block d-flex justify-content-between">
                <a href="{% url 'booking-details' %}" class="text-dark mx-2">My Rent <span><i
                            class="fa-solid fa-house"></i></span></a>
                <button class="nav-border text-dark border btn-sm" id="account">
                    <span><i class="fa-solid fa-bars m-2"></i>
                        <i class="fa-regular fa-user m-2"></i></span>
                </button>
            </div>
        </div>
    </nav>
    <div class="container-fluid mx-1 border-bottom">
        <!--
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <a href="#javascript(void)" class="btn-left btn-link p-2 toggle text-dark"><i
                        class="fa-solid fa-circle-chevron-left"></i></a>
            </div>
            <div class="flex-grow-1 w-100 o-hidden">
                <ul
                    class="nav nav-fill text-uppercase small position-relative flex-nowrap text-dark font-color fw-bolder">
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="business"
                            value="business" id="business">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="uds" value="uds"
                            id="uds">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="knust"
                            value="knust" id="knust">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="uhas" value="uhas"
                            id="uhas">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="uenr" value="uenr"
                            id="uenr">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="legon"
                            value="legon" id="legon">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="ucc" value="ucc"
                            id="ucc">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="stu" value="stu"
                            id="stu">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="ubids"
                            value="ubids" id="ubids">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="cktedam"
                            value="cktedam" id="cktedam">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="tatco"
                            value="tatco" id="tatco">
                    </li>
                    <li class="nav-item">
                        <input class="nav-link fw-bold text-uppercase text-dark" type="button" name="batco"
                            value="batco" id="batco">
                    </li>
                </ul>
            </div>
            <div class="flex-shrink-0">
                <a href="#javascript(void)" class="btn-right btn-link toggle p-2 text-dark"><i
                        class="fa-solid fa-circle-chevron-right"></i></a>
            </div>
        </div>
    -->
    <div class="row">
    <div class="col-12">
      <div class="d-md-block d-none mt-5">
        <!-- <nav class="navbar mx-auto bg-light">
          <div class="container-fluid">
            <div>
              <button class="btn btn-primary">link-1</button>
            </div>
            <div>
              <button class="btn btn-primary">link-2</button>
            </div>
            <div>
              <button class="btn btn-primary">link-3</button>
            </div>
            <div>
              <button class="btn btn-primary">link-4</button>
            </div>
            <div>
              <button class="btn btn-primary">link-5</button>
            </div>
            <div>
              <button class="btn btn-primary">link-6</button>
            </div>
            <div>
              <button class="btn btn-primary">link-7</button>
            </div>
            <div>
              <button class="btn btn-primary">link-8</button>
            </div>
            <div>
              <button class="btn btn-primary">link-9</button>
            </div>
          </div>
        </nav>
      </div> -->
      <!-- slider nav is shown at "md" and below resolutions -->
      <!-- <div class="d-md-none mt-5">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">

            <button class="swiper-slide btn btn-primary">link-1</button>

            <button class="swiper-slide btn btn-primary">link-2</button>

            <button class="swiper-slide btn btn-primary">link-3</button>

            <button class="swiper-slide btn btn-primary">link-4</button>

            <button class="swiper-slide btn btn-primary">link-5</button>

            <button class="swiper-slide btn btn-primary">link-6</button>

            <button class="swiper-slide btn btn-primary">link-7</button>

            <button class="swiper-slide btn btn-primary">link-8</button>

            <button class="swiper-slide btn btn-primary">link-9</button>

          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>

      </div> -->
    </div>
  </div>
</div>
    </div>
</section>
{% endblock navbar %}
{% block content %}
<section class="room-mt bg-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <h2 class="text-capitalize mb-2">Students accommodation</h2>
        <button class="btn btn-sm btn-outline h7 py-1" role="button" type="button"><i
                class="fa-solid fa-sliders fa-2x"></i></button>
    </div>
    <hr>
    <div class="container">
        <div class="row d-flex justify-content-between">
            <!--{% include 'hostels/results.html' %}-->
            {% for hostel in hostels %}
            {% if not hostel.no_of_rooms == 0 %}
            <div class="col-md-6 col-lg-3 mb-4 g-font d-flex justify-content-center border border-light-subtle rounded p-1" data-aos="fade-up">
                <a href="{% url 'hostel-details' hostel.pk hostel.hostel_name %}">
                    <img src="{{hostel.display_image.url}}" class="round img-fluid">
                    <div class="d-flex justify-content-between pb-0 mb-0">
                        <p class="text-start fw-bold text-capitalize text-dark">{{hostel.school.name}}, {{hostel.hostel_name}}</p>
                        <span><i class="fa-regular fa-star text-danger"></i>4.5</span>
                    </div>
                    <small class="d-block text-start text-muted mt-2"><i class="fa-solid fa-person-walking text-danger"></i> {{hostel.get_dist}} walk to campus</small>
                    <small class="d-block text-start text-muted mt-2"><i class="fa-regular fa-heart text-danger"></i> Stay with: {{hostel.owner_name}}</small>
                    <small class="d-block text-start text-muted mt-2"><i class="fa-solid fa-coins text-danger"></i> GHS{{hostel.cost_range}}/year</small>
                    <div class="text-center">
                        <div class="bg-danger p-2 rounded bg-opacity-25">View Rooms<i class="fa-solid fa-chevron-right"></i></div>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="container">
                <p class="text-dark fw-bold">All rooms are fully booked. Check back in a few days</p>
            </div>
            {% endif %}
            {% empty %}
            <section>
                <div class="container">
                    <p class="text-dark fw-bold">No hostel available yet. Check back in a few days</p>
                </div>
            </section>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
<section
    class="border-top d-flex justify-content-between align-items-center px-sm-2 px-md-5 mt-2 footer-position bg-light">
    <a href="{% url 'login' %}" class="text-dark"><i class="fa-regular fa-user m-2"></i>login / sign up <i
            class="fa-solid fa-chevron-right"></i></a>
    <a href="{% url 'privacy' %}" class="text-dark"><i class="fa-solid fa-user-shield"></i> privacy <i
            class="fa-solid fa-chevron-right"></i></a>
    <button class="btn btn-sm text-dark" id="footer" onclick="toggleContent()"><i
            class="fa-solid fa-angle-up fa-2x"></i></button>
</section>
<section class="d-flex justify-content-between list-styl d-none" id="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <ul class="text-dark">
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="text-dark">
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="text-dark">
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock footer %}