{% extends 'hostels/base.html' %}
{% load static %}

{% block title %}Accomodations, Lands, stores, building materials{% endblock %}
{% block content %}
<section class="sec-bg margin-bottom">
	<div class="p-5 dark">
		<h1 class="text-capitalize fw-bolder" data-aos="zoom-in-right">You deserve the best</h1>
		<p class="text-capitalize pt-3 pb-4 fw-bolder" data-aos="zoom-in-right">decide where you stay when you travel
		</p>
		<a href="{% url 'rooms' %}" class="btn btn-sm btn-danger text-capitalize" role="button" data-aos="zoom-in-right">explore our
			rentals</a>
	</div>
</section>
<section class="mt-5">
	<div class="container">
		<h1 class="text-capitalize text-decoration-underline text-center">find what you need from where your are.</h1>
		<div class="row d-flex justify-content-center sm-margin">
			<div class="col-md-5 m-4 py-3 d-hover bg-light shadow d-flex justify-content-center" data-aos="fade-up">

				<a href="{% url 'appartment' %}" class="text-center service-link p-3">
					<div>
						<span class="border-icon p-3">
							<i class="fa-solid fa-house fa-2x text-danger"></i>
						</span>
					</div>
					<h3 class="pt-1 mt-2 pt-3">Workers & Travellers</h3>
					<small class="text-dark text-center">Experience the luxury while we take on thee hard task of
						booking an
						accomodation
						for. Experience home away from home with us making everything just right.</small>
				</a>
			</div>
			<div class="col-md-5 m-4 py-3 d-hover bg-light shadow d-flex justify-content-center" data-aos="fade-up">
				<a href="{% url 'rooms' %}" class="text-center service-link p-3">
					<div>
						<span class="border-icon p-3">
							<i class="fa-solid fa-hotel fa-2x text-danger"></i>
						</span>
					</div>
					<h3 class="pt-1 mt-2 pt-3">Students Accomodation</h3>
					<small class="text-dark text-center">Finding a place to stay after gaining admission is one of the crucial moments in a student's life. We understand that.</small>
				</a>
			</div>
			<div class="col-md-5 m-4 py-3 d-hover bg-light shadow d-flex justify-content-center" data-aos="fade-up">
				<a href="{% url 'lands' %}" class="text-center service-link p-3">
					<div>
						<span class="border-icon p-3">
							<i class="fa-solid fa-shop fa-2x text-danger"></i>
						</span>
					</div>
					<h3 class="pt-1 mt-2 pt-3">Business & Land</h3>
					<small class="text-dark text-center">Looking for a place to sell your good or for an office? We just
						got you
						covered. We believe you do not have enough dedicated to your most important projects.</small>
				</a>
			</div>
			<div class="col-md-5 m-4 py-3 d-hover bg-light shadow d-flex justify-content-center" data-aos="fade-up">
				<a href="{% url 'recreational' %}" class="text-center service-link p-3">
					<div>
						<span class="border-icon p-3">
							<i class="fa-solid fa-water-ladder fa-2x text-danger"></i>
						</span>
					</div>
					<h3 class="pt-1 mt-2 pt-3">Recreational</h3>
					<small class="text-dark text-center">Find where you can take time off your heavy and stressful
						schedule to get some
						relaxing and soothing treatment.</small>
				</a>
			</div>
		</div>
	</div>
</section>
<hr>

<section class="mt-5 mb-3 bg-light shadow">
	<div class="container">
		<h2 class="text-capitalize text-decoration-underline text-center mb-4 pb-4">student hostels</h2>
		<div class="row d-flex justify-content-between sm-margin">
			{% for hostel in hostels %}
			<div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up">
				<a href="{% url 'hostel-detail' hostel.pk %}"><img src="{{hostel.image.url}}" alt="{{hostel.hostel_name}}" class="img-fluid round">
					<div class="d-flex justify-content-between">
						<p class="text-capitalize text-color">{{hostel.hostel_name}}</p>
                        <span class="p-1 text-color">Gh₵{{hostel.get_cost}}</span>
					</div>
					<div class="d-flex justify-content-between border-top mb-1">
						<span class="border-end text-dark"><i class="fa-solid fa-bed text-danger"></i>
							{{hostel.no_of_rooms}}</span>
						<span class="border-end text-dark"><i class="fa-solid fa-wifi text-danger"></i>
							{{hostel.wifi}}</span>
						<span class="text-dark"><i class="fa-solid fa-person-walking text-danger"></i>
							{{hostel.get_dist}}</span>
					</div>
					<small class="text-muted">{{hostel.details|safe|truncatechars:36}}</small>
                    <span class="d-block"><small class="text-color pt-2 text-capitalize mb-1">{{hostel.school.name}}| {{hostel.campus}}</small></span>
				</a>
			</div>
			{% empty %}
			<div class="text-center">
				<small>No hostel posted yet</small>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="d-lex align-items-center">
		<p class="text-center"><a href="{% url 'rooms' %}" class="text-dark text-decoration-underline"><i class="fa-solid fa-chevron-right"></i> See All</a></p>
	</div>
</section>
<section class="mt-5 mb-3">
	<div class="container">
		<h2 class="text-capitalize text-decoration-underline text-center">Appartments</h2>
		<div class="row d-flex justify-content-between">
			{% for apartment in apartments %}
			<div class="col-md-6 col-lg-3" data-aos="fade-up">
				<div class="m-2 p-1">
					<a href="{% url 'hostel-details' apartment.pk %}" class="text-dark fw-bold">
						<img src="{{apartment.image.url}}" alt="my-image" class="img-fluid round">
						<div class="d-flex justify-content-between px-1">
							<p class="lead text-capitalize fw-bold text-dark">{{apartment.name}}</p> <small><i
									class="fa-solid fa-star text-danger"></i>{{apartment.rating}}</small>
						</div>
						<small class="text-secondary">{{apartment.description|truncatechars:50}}</small>
						<p class="text-dark h7">{{apartment.cost_per_month}}/month</p>
					</a>
				</div>
			</div>
			{% empty %}
			<div class="text-center">
				<small>No apartment host posted yet</small>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<section class="mt-5 mb-3">
	<div class="container">
		<h2 class="text-capitalize text-decoration-underline text-center">General Property Rental</h2>
		<div class="row d-flex justify-content-between">
			<div class="col-md-6 col-lg-3" data-aos="fade-up">
				<div class="m-2 p-1">
					<a href="#" class="text-dark fw-bold">
						<img src="{% static 'hostels/images/city.jpg' %}" alt="my-image" class="img-fluid round">
						<div class="d-flex justify-content-between px-1">
							<p class="lead text-capitalize fw-bold text-dark h7">owne name</p> <small><i
									class="fa-solid fa-star"></i>4.5</small>
						</div>
						<small class="text-secondary">Beautiful store located at a vantage point...</small>
						<p class="text-dark h7">$20.00/month</p>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3" data-aos="fade-up">
				<div class="m-2 p-1">
					<a href="#" class="text-dark fw-bold">
						<img src="{% static 'hostels/images/city.jpg' %}" alt="my-image" class="img-fluid round">
						<div class="d-flex justify-content-between px-1">
							<p class="lead text-capitalize fw-bold text-dark h7">owne name</p> <small><i
									class="fa-solid fa-star"></i>4.5</small>
						</div>
						<small class="text-secondary">Beautiful store located at a vantage point...</small>
						<p class="text-dark h7">$20.00/month</p>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3" data-aos="fade-up">
				<div class="m-2 p-1">
					<a href="#" class="text-dark fw-bold">
						<img src="{% static 'hostels/images/city.jpg' %}" alt="my-image" class="img-fluid round">
						<div class="d-flex justify-content-between px-1">
							<p class="lead text-capitalize fw-bold text-dark h7">owne name</p> <small><i
									class="fa-solid fa-star"></i>4.5</small>
						</div>
						<small class="text-secondary">Beautiful store located at a vantage point...</small>
						<p class="text-dark h7">$20.00/month</p>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3" data-aos="fade-up">
				<div class="m-2 p-1">
					<a href="#" class="text-dark fw-bold">
						<img src="{% static 'hostels/images/city.jpg' %}" alt="my-image" class="img-fluid round">
						<div class="d-flex justify-content-between px-1">
							<p class="lead text-capitalize fw-bold text-dark h7">owne name</p> <small><i
									class="fa-solid fa-star"></i>4.5</small>
						</div>
						<small class="text-secondary">Beautiful store located at a vantage point...</small>
						<p class="text-dark h7">$20.00/month</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}