{% extends 'hostels/base.html' %}
{% load static %}


{% block title %}Make Payment{% endblock %}
{% block content %}
<section class="user">
	<div class="text-center mb-3">
		<h1>You are about to make payment for a </h1>
		<p class="fw-bolder">({{booking.room.room_type}}) in {{booking.room.hostel.hostel_name}}</p>
	</div>
	<div class="d-flex justify-content-center mb-3"><small>Ensure the information provided is accurated. A copy of this
			will be mailed to <b>{{booking.email_address}}</b>.</small></div>
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-md-7 bg-light shadow border">
				<h2>Receipt Details</h2>
				<div class="d-flex justify-content-between">
					<p>Unarcom LLC</p>
					<p>Receipt No: 001</p>
				</div>
				<hr>
				<h2>Your Info</h2>
				<div class="d-flex justify-content-between">
					<p>Tenant: {{booking.first_name}} {{booking.last_name}}</p>
					<p>Phone: {{booking.phone_number}}</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Address: {{booking.digital_address}}</p>
					<p>Email: {{booking.email_address}}</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Amount: GHS{{booking.cost}}</p>
					<p>Room Type:{{booking.room_type}}</p>
				</div>
				<hr>
				<h2>Hostel Info</h2>
				<div class="d-flex justify-content-between">
					<p>Hostel: {{booking.room.hostel.hostel_name}}</p>
					<p>Rent Expires: {{booking.expiration_date|date:'M d, Y'}}</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Room No: .......</p>
					<p>Landlord: {{booking.room.hostel.created_by}}</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Campus: {{booking.room.hostel.campus}}</p>
					<p>School Name: {{booking.room.hostel.school}}</p>
				</div>
				<hr>
				<h2>Our Ref</h2>
				<div class="d-flex justify-content-between">
					<p>Address: UDS, Block 59 <br> GPS: BL-0080-0001</p>
					<p>Contacts: 024578665 <br>0265488666 <br>022489635 </p>
				</div>
				<div class="d-flex justify-content-between">
					<p><b>Timothy Saatum:</b> <br> CTO & Technical advisor <br> 024578665.</p>
					<p><b>Salifu Zakaria:</b> <br> Marketting Director <br> 025578665.</p>
					<p><b>Deborah Fevlo:</b> <br> UX Designer & Secretary <br> 024578665.</p>
				</div>
				<div class="text-center font-monspace"><code>Ref: {{booking.ref}}</code></div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3"><button onclick="payWithPaystack()"
			class="btn btn-outline-danger btn-lg">Continue</button></div>
	<script type="text/javascript" src="https://js.paystack.co/v1/inline.js"></script>
	<script type="text/javascript">
		function payWithPaystack() {
			const currency = "GHS";
			const plan = "";
			const ref = "{{booking.ref}}";
			const amount = "{{booking.cost}}";

			let obj = {
				key: "{{paystack_pub_key}}",
				email: "{{booking.email_address}}",
				amount: "{{amount_value}}",
				ref: ref,
				callback: function (response) {
					window.location.href = "{% url 'verify' booking.ref %}";
				},
			};
			if (Boolean(currency)) {
				obj.currency = currency.toUpperCase();
			}
			if (Boolean(plan)) {
				obj.plan = plan.toUpperCase();
			}

			const handler = PaystackPop.setup(obj);
			handler.openIframe();
		}
	</script>
</section>
{% endblock %}