{% extends 'hostels/base.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}
{% block navbar %} {% endblock navbar %}
{% block user_search_area %}
{% endblock %}
{% block content %}
<section class="pt-5 mx-1 bg-admin shadow">
  <div class="container-fluid">
    <h1 class="text-center admin-header-font fixed-top shadow">
      Welcome {{request.user}}
    </h1>
    <div class="row border">
      <div class="col-md-2 rounded-2 text-light admin-side-bar">
        <p
          class="text-center text-uppercase mt-2 mb-3 pb-2 border border-light rounded"
        >
          {% for hostel in hostels %}
          {{hostel.hostel_name}}
          {% endfor %}
        </p>
        <small class="d-block text-start fw-bold p-2"
          ><button class="btn btn-md btn-outline-secondary text-light" id="update-content">
            <i class="fa-solid fa-calendar-days"></i> Bookings
            <span class="badge bg-secondary rounded-pill"
              >{{bookings.count}}</span
            >
            <span class="visually-hidden">{{bookings.count}} booking</span>
          </button></small
        >
        <small class="d-block text-start fw-bold p-2"
          >
          <button class="btn btn-md btn-outline-secondary text-light" id="statistics">
            <i class="fa-solid fa-server"></i> Statistics
          </button>
          </small
        >
        <small class="d-block text-start fw-bold p-2"
          >
          <button class="btn btn-md btn-outline-secondary text-light" id="vacancies">
            <i class="fa-solid fa-bed"></i> Vacancies
            <span class="badge bg-secondary rounded-pill"
              >{{vacancies.count}}</span
            >
            <span class="visually-hidden">{{vacancies.count}} rooms left</span>
          </button>
          </small
        >
        <small class="d-block text-start fw-bold p-2"
          >
          <button class="btn btn-md btn-outline-secondary text-light" id="leaves">
            <i class="fa-solid fa-calendar-check"></i> Approvals
            <span class="badge bg-secondary rounded-pill"
              >{{approved_leaves.count}}</span
            >
            <span class="visually-hidden">{{approved_leaves.count}} approvals</span>
          </button>
          </small
        >
        <small class="d-block text-start fw-bold p-2"
          >
          <button class="btn btn-md btn-outline-secondary text-light" id="pending">
            <i class="fa-solid fa-gears"></i> Pending
            <span class="badge bg-secondary rounded-pill"
              >{{pending_approvals.count}}</span
            >
            <span class="visually-hidden">{{pending_approvals.count}} approvals</span>
          </button>
          </small
        >
        <small class="d-block text-start fw-bold p-2">
          <button
            title="Send messages"
            type="button"
            class="btn btn-md btn-outline-secondary text-light"
            data-bs-toggle="modal"
            data-bs-target="#message"
          >
            <i class="fa-solid fa-pen-to-square"></i> Message
          </button>
          <div
            class="modal fade"
            id="message"
            tabindex="-1"
            aria-labelledby="message"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="fw-bolder text-dark">Message will be sent as sms</p>
                </div>
                <div class="modal-body">
                  <form method="POST" id="msg-form">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label
                        for="subject"
                        id="subject"
                        class="col-form-label text-dark text-start"
                        >Subject</label
                      >
                      <input
                        type="text"
                        name="subject"
                        id="subject"
                        class="form-control"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="content"
                        id="content"
                        class="col-form-label text-dark text-start"
                        >content</label
                      >
                      <textarea
                        type="text"
                        name="content"
                        id="content"
                        class="form-control"
                      ></textarea>
                    </div>
                    <div class="form-check form-switch text-start">
                      <input
                        type="checkbox"
                        role="switch"
                        name="tenants"
                        id="tenants"
                        class="form-check-input"
                      />
                      <label for="Tenants" class="form-check-label text-dark"
                        >Send to tenants.</label
                      >
                    </div>
                    <div class="form-check form-switch text-start">
                      <input
                        type="checkbox"
                        role="switch"
                        name="hall"
                        id="hall"
                        class="form-check-input"
                      />
                      <label for="hall" class="form-check-label text-dark"
                        >Send to hall tutor.</label
                      >
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-outline-secondary">Send</button>
                </div>
              </div>
            </div>
          </div>
        </small>
        {% for booking in bookings %} {% if forloop.counter < 2 %}
        <small class="d-block text-start fw-bold p-2"
          ><a
            href="{% url 'room-detail' booking.room_type.hostel.pk booking.room_type.hostel.hostel_name %}"
            target="_blank"
            title="My Property"
            class="btn btn-md btn-outline-secondary text-light"
          >
            <i class="fa-solid fa-pen-to-square"></i> My Hostel
          </a></small
        >
        {% endif %}
        {% endfor %}
        <small class="d-block text-start fw-bold p-2"
          ><a
            href="{% url 'create' %}"
            title="Create hostel"
            target="_blank"
            class="btn btn-md btn-outline-secondary text-light"
          >
            <i class="fa-solid fa-pen-to-square"></i> Add hostel</a
          ></small
        >
        <small class="d-block text-start fw-bold p-2"
          ><a
            href="{% url 'room-create' %}"
            title="Create Room type"
            target="_blank"
            class="btn btn-md btn-outline-secondary text-light"
          >
            <i class="fa-solid fa-pen-to-square"></i> Add Room</a
          ></small
        >
        <small class="d-block text-start fw-bold p-2"
          ><a
            href="{% url 'contact' %}"
            title="Contact Us"
            target="_blank"
            class="btn btn-md btn-outline-secondary text-light"
          >
            <i class="fa-regular fa-envelope"></i> Contact Us</a
          ></small
        >
        <small class="d-block text-start fw-bold pt-4 px-2"
          ><a
            href="{% url 'logout' %}"
            title="logout"
            class="btn btn-md btn-outline-secondary text-light"
          >
            <i class="fa-solid fa-pen-to-square"></i> Log out</a
          ></small
        >
      </div>

      <div class="col-md-10 manage rounded" id="update">
        <p class="text-light text-center ">Select an item to view</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block footer %} {% endblock footer %}
