{% extends 'hostels/base.html' %} 
{% load static %} 
{% block title %}Admin
Dashboard
{% endblock %} 
{% block navbar %} 
{% endblock navbar %} 
{% block user_search_area %} 
{% endblock %} 
{% block content %}
<section class="pt-5 mx-1">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between fixed-top bg-light bg-opacity-70 p-3">
      <div class="col-4">
        <small class="text-dark d-flex justify-content-between">
        Welcome {{request.user}}
      </small>
      </div>
      <div class="col-3">
        <a href="{% url 'logout' %}" class="d-none d-md-block">Log Out</a>
        <button class="btn btn-sm btn-secondary d-block d-md-none" id="menuButton">Menu</button>
      </div>
    </div>
    <div class="row border">
      <div class="col-md-2 rounded-2 text-info admin-side-bar d-none d-md-block bg-dark">
        <p class="text-uppercase mt-2 mb-3 pb-2">
          {% for hostel in hostels %} 
          {{hostel.hostel_name}} 
          {% endfor %}
        </p>
        <hr>
        <small class="d-block p-2"
          ><button
            class="btn btn-md btn-outline-secondary text-light"
            id="update-content"
          >
            <i class="fa-solid fa-calendar-days"></i> Bookings
            <span class="badge bg-secondary rounded-pill"
              >{{bookings.count}}</span
            >
            <span class="visually-hidden">{{bookings.count}} booking</span>
          </button></small
        >
        <small class="d-block p-2">
          <button
            class="btn btn-md btn-outline-secondary text-light" id="statistics">
            <i class="fa-solid fa-server"></i> Statistics
          </button>
        </small>
        <small class="d-block p-2">
          <button
            class="btn btn-md btn-outline-secondary text-light"
            id="vacancies"
          >
            <i class="fa-solid fa-bed"></i> Vacancies
            <span class="badge bg-secondary rounded-pill"
              >{{vacancies.count}}</span
            >
            <span class="visually-hidden">{{vacancies.count}} rooms left</span>
          </button>
        </small>
        <small class="d-block p-2">
          <button
            class="btn btn-md btn-outline-secondary text-light"
            id="leaves">
            <i class="fa-solid fa-calendar-check"></i> Approvals
            <span class="badge bg-secondary rounded-pill">{{approved_leaves.count}}
            </span>
            <span class="visually-hidden">{{approved_leaves.count}} approvals
            </span>
          </button>
        </small>
        <small class="d-block p-2">
          <button
            class="btn btn-md btn-outline-secondary text-light"
            id="pending"
          >
            <i class="fa-solid fa-gears"></i> Pending
            <span class="badge bg-secondary rounded-pill"
              >{{pending_approvals.count}}</span
            >
            <span class="visually-hidden"
              >{{pending_approvals.count}} approvals</span
            >
          </button>
        </small>
        <small class="d-block p-2">
          <button
            title="Send messages"
            type="button"
            class="btn btn-md btn-outline-secondary text-light"
            data-bs-toggle="modal"
            data-bs-target="#message"
          >
            <i class="fa-solid fa-pen-to-square"></i> Message
          </button>
          <div class="modal fade" id="message" tabindex="-1" aria-labelledby="message" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="fw-bolder text-dark">Message will be sent as sms</p>
                </div>
                <div class="modal-body">
                  <form method="POST" id="msg-form">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label
                        for="subject"
                        id="subject"
                        class="col-form-label text-dark text-start"
                        >Subject</label
                      >
                      <input
                        type="text"
                        name="subject"
                        id="subject"
                        class="form-control"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="content"
                        id="content"
                        class="col-form-label text-dark text-start"
                        >content</label
                      >
                      <textarea
                        type="text"
                        name="content"
                        id="content"
                        class="form-control"
                      ></textarea>
                    </div>
                    <div class="form-check form-switch text-start">
                      <input
                        type="checkbox"
                        role="switch"
                        name="tenants"
                        id="tenants"
                        class="form-check-input"
                      />
                      <label for="Tenants" class="form-check-label text-dark"
                        >Send to tenants.</label
                      >
                    </div>
                    <div class="form-check form-switch text-start">
                      <input
                        type="checkbox"
                        role="switch"
                        name="hall"
                        id="hall"
                        class="form-check-input"
                      />
                      <label for="hall" class="form-check-label text-dark"
                        >Send to hall tutor.</label
                      >
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-outline-secondary">Send</button>
                </div>
              </div>
            </div>
          </div>
        </small>
        {% for booking in bookings %} 
        {% if forloop.counter < 2 %}
        <hr>
        <small class="d-block p-2"
          ><a
            href="{% url 'hostel-details' booking.room_type.hostel.pk booking.room_type.hostel.hostel_name %}"
            target="_blank"
            title="My Property"
            class="btn btn-md btn-outline-secondary text-light"
          >
            <i class="fa-solid fa-pen-to-square"></i> My Hostel
          </a></small
        >
        {% endif %} 
        {% endfor %}
        <small class="d-block p-2">
          <a href="{% url 'create' %}" title="Create hostel" target="_blank" class="btn btn-md btn-outline-secondary text-light"><i class="fa-solid fa-pen-to-square"></i> Add hostel</a>
        </small>
        <small class="d-block p-2"
          ><a
            href="{% url 'room-create' %}"
            title="Create Room type"
            target="_blank"
            class="btn btn-md btn-outline-secondary text-light"
          >
            <i class="fa-solid fa-pen-to-square"></i> Add Room</a
          ></small
        >
        <small class="d-block p-2"
          ><a
            href="{% url 'contact' %}"
            title="Contact Us"
            target="_blank"
            class="btn btn-md btn-outline-secondary text-light"
          >
            <i class="fa-regular fa-envelope"></i> Contact Us</a
          ></small>
          <hr>
        <small class="d-block pt-1 px-2 pb-3"
          ><a
            href="{% url 'logout' %}"
            title="logout"
            class="btn btn-md btn-outline-secondary text-light"
          >
            <i class="fa-solid fa-pen-to-square"></i> Log out</a
          ></small
        >
      </div>

      <div class="col-md-10 manage rounded" id="update">
        <p class="text-light text-center">Select an item to view</p>
      </div>
    </div>
  </div>
</section>
<!--Mobile devices-->
<div class="adminMenu bg-dark bg-opacity-75 p-2 rounded">
  <button class="btn btn-sm btn-outline-light text-light" id="mobile-bookings">
    <i class="fa-solid fa-calendar-days"></i> Bookings 
    <span class="badge bg-secondary rounded-pill">
      {{bookings.count}}</span>
    <span class="visually-hidden">{{bookings.count}} booking</span>
  </button>
  <button class="btn btn-sm btn-outline-light text-light" id="mobile-vacancies">
    <i class="fa-solid fa-bed"></i> Vacancies
    <span class="badge bg-info rounded-pill">{{vacancies.count}}</span>
    <span class="visually-hidden">{{vacancies.count}} rooms left</span>
  </button>
  <button class="btn btn-sm btn-outline-light text-light" id="mobile-statistics">
    <i class="fa-solid fa-server"></i> Statistics
  </button>
  <button class="btn btn-sm btn-outline-light text-light" id="mobile-leaves">
    <i class="fa-solid fa-calendar-check"></i> Approvals
    <span class="badge bg-secondary rounded-pill">{{approved_leaves.count}}</span>
    <span class="visually-hidden">{{approved_leaves.count}} approvals</span>
  </button>
  {% for booking in bookings %}
  {% if forloop.counter < 2 %}
  <a href="{% url 'hostel-details' booking.room_type.hostel.pk booking.room_type.hostel.hostel_name %}" target="_blank"
      title="My Property" class="btn btn-sm btn-outline-secondary text-light">
    <i class="fa-solid fa-pen-to-square"></i> My Hostel
  </a>
  {% endif %}
  {% endfor %}
  <button title="Send messages" type="button" class="btn btn-md btn-outline-secondary text-light" data-bs-toggle="modal"
            data-bs-target="#message">
    <i class="fa-solid fa-pen-to-square"></i> Message
  </button>
  <div class="modal fade" id="message" tabindex="-1" aria-labelledby="message" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="fw-bolder text-dark">Message will be sent as sms</p>
                </div>
                <div class="modal-body">
                  <form method="POST" id="msg-form">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label
                        for="subject"
                        id="subject"
                        class="col-form-label text-dark text-start"
                        >Subject</label
                      >
                      <input
                        type="text"
                        name="subject"
                        id="subject"
                        class="form-control"
                      />
                    </div>
                    <div class="mb-3">
                      <label
                        for="content"
                        id="content"
                        class="col-form-label text-dark text-start"
                        >content</label
                      >
                      <textarea
                        type="text"
                        name="content"
                        id="content"
                        class="form-control"
                      ></textarea>
                    </div>
                    <div class="form-check form-switch text-start">
                      <input
                        type="checkbox"
                        role="switch"
                        name="tenants"
                        id="tenants"
                        class="form-check-input"
                      />
                      <label for="Tenants" class="form-check-label text-dark"
                        >Send to tenants.</label
                      >
                    </div>
                    <div class="form-check form-switch text-start">
                      <input
                        type="checkbox"
                        role="switch"
                        name="hall"
                        id="hall"
                        class="form-check-input"
                      />
                      <label for="hall" class="form-check-label text-dark"
                        >Send to hall tutor.</label
                      >
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-outline-secondary">Send</button>
                </div>
              </div>
            </div>
          </div>
  <a href="{% url 'create' %}" title="Create hostel" target="_blank" class="btn btn-sm btn-outline-secondary text-light"><i class="fa-solid fa-pen-to-square"></i> Add hostel</a>
  <a href="{% url 'room-create' %}" title="Create Room type" target="_blank" class="btn btn-md btn-outline-secondary text-light"
          >
    <i class="fa-solid fa-pen-to-square"></i> Add Room
  </a>
  <a href="{% url 'contact' %}" title="Contact Us" target="_blank" class="btn btn-sm btn-outline-secondary text-light"
          >
    <i class="fa-regular fa-envelope"></i> Contact Us</a>
</div>
<!--End of mobile devices-->
{% endblock %} 
{% block footer %} 
{% endblock footer %}

<!--148113000450 Y. Jahori Enterprise Account 2-->