<p class="text-center fw-bolder text-secondary text-decoration-underline">Pending Approvals.</p>
<table class="table table-success table-striped table-hover table-bordered vacant" id="pending">
  <thead>
    <tr>
      <th scope="col">#Room</th>
      <th scope="col">Course</th>
      <th scope="col">Level</th>
      <th scope="col">Phone</th>
      <th scope="col">Purpose</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for leave_req in pending_approvals %}
    <tr>
      <th scope="row">{{leave_req.room}}</th>
      <td>{{leave_req.your_course}}</td>
      <td>{{leave_req.level}}</td>
      <td>{{leave_req.phone_number}}</td>
      <td>{{leave_req.purpose}}</td>
      <td>{{leave_req.date_created}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
