{% load static %}
<!doctype html>
<html lang="eng">
<head>
  <meta charset="utf-8" />
  <title>Print receipt</title>
  <style type="text/css">
  	.user{
  		display: flex;
  		flex-direction: row;
  	}
  </style>
 </head>
<body>
<section class="user">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-md-7 bg-light shadow border">
				<div>
					<p>Receipt No: {{booking.receipt_number}}</p>
				</div>
				<hr>
				<p class="h7 fw-bolder">Your Info</p>
				<div class="d-flex justify-content-between">
					<p>Tenant: {{booking.first_name}} {{booking.last_name}}</p>
					<p>Phone: {{booking.phone_number}}</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Address: {{booking.digital_address}}</p>
					<p>Email: {{booking.email_address}}</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Amount: GHS{{booking.cost}}</p>
					<p>Room Type:{{booking.room_type}}</p>
				</div>
				<hr>
				<p class="h7 fw-bolder">Hostel Info</p>
				<div class="d-flex justify-content-between">
					<p>Hostel: {{booking.room.hostel.hostel_name}}</p>
					<p>Rent Expires: {{booking.expiration_date|date:'M d, Y'}}</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Room No: {{booking.room_no}}</p>
					<p>Landlord: {{booking.room.hostel.owner_name}}</p>
				</div>
				<div class="d-flex justify-content-between">
					<p>Campus: {{booking.room.hostel.campus}}</p>
					<p>School Name: {{booking.room.hostel.school}}</p>
				</div>
				<hr>
				<p class="h7 fw-bolder">Our Ref</p>
				<div class="d-flex justify-content-between">
					<p>Address: UDS, Block 59 <br> GPS: BL-0080-0001</p>
					<p>Contacts: 024578665</p>
				</div>
				<div class="text-center font-monspace"><code>Ref: {{booking.ref}}</code></div>
			</div>
		</div>
	</div>
</section>
</body>
</html>