{% extends 'hostels/base.html' %}
{% load static %}
{% load tags %}

{% block title %}{{room.hostel}} -{{room.hostel.campus}} {% endblock %}
{% block content %}
  <section class="bg-light bg-onscroll fixed-top">
    <nav>
      <div class="container-fluid d-flex justify-content-between align-items-center p-2 mx-1">
        <div class="col-md-1">
          <a href="{% url 'home' %}" class="nav-brand"><img src="{% static 'hostels/images/unarcom.jpg' %}" alt="unarcom logo"
              class="img-fluid icon-radius"/></a>
        </div>
        <div class="d-flex align-items-center nav-border py-1">
          <a href="{% url 'rooms' %}" class="nav-link text-light bg-danger fw-bold btn-border p-1" role="button"><i
              class="fa-solid fa-chevron-right"></i> Hostels</a>
        </div>
        <div class="col-md-5 col-lg-3 py-1 col-sm-12 d-flex justify-content-between bg-light shadow-lg nav-border">
          <button class="btn btn-sm btn-light fw-bolder btn-border btn-pink text-light mx-1" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><i class="fa-regular fa-image text-light"></i>
          </button>
          <button class="btn btn-sm btn-light fw-bolder btn-border btn-pink text-light mx-1"><i class="fa-solid fa-bars"></i>
          </button>
          <button class="btn btn-sm btn-pink btn-border text-light mx-1">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>
        <div class="col-3 d-none d-lg-block d-sm-block d-flex justify-content-between">
          <a href="{% url 'booking-details' %}" class="text-dark mx-2">My Rent <span><i
                class="fa-solid fa-house"></i></span></a>
          <button class="nav-border text-dark border btn-sm" id="account">
            <span><i class="fa-solid fa-bars m-2"></i>
              <i class="fa-regular fa-user m-2"></i></span>
          </button>
        </div>
      </div>
    </nav>
  </section>
<section class="details-mt mb-2">
    <div class="container">
        <p class="mx-1 fw-bolder text-uppercase">
        <span class="p-2 text-dark fw-bolder">
            {{room.hostel.school.name}}-{{room.hostel.campus}}
        </span>
        </p>
    </div>
    <hr>
</section>
<section>
    <div class="container">
        <div class="text-dark h7 mb-3">{% if request.user == room.hostel.created_by %}
            <a href="{% url 'hostel-update' room.hostel.pk %}" class="bg-light shadow p-2 text-info">Edit details</a>
            {% endif %}<span class="px-2 py-2 fw-bold mb-5 bg-light"><i class="fa-regular fa-heart text-danger"></i> Manager:
                {{room.hostel.owner_name}}</span> {% if request.user == room.hostel.created_by %}
            <a href="{% url 'hostel-delete' room.hostel.pk %}" class="bg-light shadow p-2 text-danger">Delete hostel</a>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-3">
                <p class="mt-2"><i class="fa-solid fa-phone"></i> {{room.hostel.contact}}</p>
            </div>
            <div class="col-md-3">
                <p><i class="fa-solid fa-envelope"></i> {{room.hostel.created_by.email}}</p>
            </div>
        </div>
            <div class="d-flex justify-content-center bg-light rounded p-2">
            <div class="row g-1">
                <div class="col-md-9 hand-pointer">
                    <div class="row g-1">
                        {% for obj in front_display %}
                        <div class="col-md-8 d-none d-sm-block d-lg-block">
                            <img src="{{obj.room_type_images.url}}" class="img-fluid img-hover image-effect">
                        </div>
                        {% endfor %}
                        <div class="col-md-4">
                            <div class="row g-1">
                                <div class="col-md-12 div-place">
                            <div class="d-flex justify-content-center"><img src="{{object.room_display_image.url}}"
                                    class="img-fluid img-hover image-effect">
                            </div>
                            <button class="btn btn-light btn-sm show-all d-block d-md-none fw-bolder text-danger p-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i> {{total_imgs}} More images</button>
                        </div>
                        {% for obj in image_list|slice:'2:3' %}
                        <div class="col-md-12 d-none d-sm-block d-lg-block div-place">
                            <img src="{{obj.room_type_images.url}}" class="img-fluid img-hover image-effect">
                            <button class="btn btn-light btn-md show-all" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i> {{total_imgs}} More images</button>
                        </div>
                        {% endfor %}
                       </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-md bg-light rounded">
        <div class="col-md-8 col-sm-12 mt-5 mb-5 p-2">
            <h4 class="text-dark">Description.</h4>
            <p class="text-dark">{{ room.details|safe }}</p>
        </div>
    </div>
    <div class="container bg-light rounded">
        <h4 class="text-dark mb-3 mt-5">General amenities at {{room.hostel}}.</h4>
        <div class="row">
            <div class="col-md-9">
                <!--offers inner row-->
                <div class="row">
                    {% for amenity in object.hostel.amenities.all %}
                    <div class="col-md-3 col-lg-2 col-sm-2 py-1 px-1 bg-danger bg-opacity-10 m-1 rounded d-flex align-items-center">
                        <span class="text-capitalize">
                            <i class="{{amenity.fontawesome_icon}} text-danger mx-2"></i>
                            {{amenity.amenity}}</span>
                    </div>
                    {% endfor %}
                    <!--{% for _, amenity in object.hostel.hostel_amenities.items %}
                    <div class="col-md-6 col-sm-12 py-1">
                        <span class="text-muted text-capitalize">
                            <i class="fa-regular fa-circle-check text-danger"></i>
                            {{amenity}}</span>
                    </div>
                    {% endfor %}-->
                </div>
            </div>
        </div>

    </div>
    <div class="container bg-light rounded mt-3 border border-danger">
        <div class="row">
            <div class="col-md-9">
                <!--offers inner row-->
                <div class="row">
                    <div class="col-md-10 col-sm-12 py-1">
                       <p><i class="fa-solid fa-circle-info text-danger"></i> All information provided on the site is gathered and uploaded by our team, we make sure we get students what is actually on the ground.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-9">
                <!--offers inner row-->
                <div class="row">
                    <div class="col-sm-12 py-1 d-flex justify-content-center">
                       <a href="{% url 'rooms' %}" class="text-decoration-underline">Looking for something else, check out other hostels <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--reserve-->
<div class="col-lg-3 col-md-4 reserve bg-light shadow round">
    <h3 class="mx-2 text-capitalize font-monospace d-flex d-none d-sm-block d-lg-block">{{room.hostel.hostel_name}}</h3>
    <small class="mx-5 mt-3 mb-1 d-none d-sm-block d-lg-block fw-bolder text-danger">Cost per Head: Gh₵{{room.cost_per_head}}
    </small>
    <div class="d-flex d-none d-sm-block d-lg-block mx-5">
        <small><span class="fw-bold"><i class="fa-solid fa-person-walking text-light bg-danger rounded-circle p-2"></i> {{room.hostel.get_dist}} walk to class</span></small>
    </div>
    <div class="mx-5 d-none d-sm-block d-lg-block">
        <small class="fw-bold d-block">Select Room to Book</small>
        <small class="d-block">F=Female, M=male</small>
        <div class="side-bar border rounded">
            {% for room_num in spec_room %}
            <div class="text-center m-2">
                <a href="{% url 'pay' object.pk room_num.pk %}" role="button" class="btn btn-sm btn-outline-danger {% if room_num.capacity == 0 %}disabled{% endif %}" {% if room_num.capacity %}aria-disabled="true"{% endif %}>

                {% if room_num.is_booked %}
                    {% if room_num.capacity == 0 %}

                        {{room_num.room_number}}:Fully Booked

                    {% else %}
                        {% if room_num.capacity == 1 %}

                         {{room_num.room_number}}:{{room_num.capacity}} bed left:{{room_num.room_occupant_gender}}

                         {% else %}

                         {{room_num.room_number}}:{{room_num.capacity}}beds left:{{room_num.room_occupant_gender}}

                         {% endif %}

                    {% endif %}

                {% else %}

                    {{room_num.room_number}}:empty beds

                {% endif %}

            </a>
        </div>
            {% endfor %}
        </div>
    </div>
    <!--on large devices-->
    <div class="text-center my-3 d-none mx-1 btn-reserve py-2 d-sm-none d-md-block">
        <span class="bg-danger p-2 text-light text-center rounded">{{room.room_type}} option</span>
    </div>
</div>
</div>
<!--for phones-->
<p class="text-center fw-bolder d-block d-md-none">Select a room below to book.</p>
<div class="d-flex justify-content-between bg-light  shadow d-block d-md-none mx-2 fix-bottom px-2 btn-reserve sm-scroll border border-secondary-subtle rounded">
                {% for room_num in spec_room %}
            <div class="text-center m-2"><a href="{% url 'pay' object.pk room_num.pk %}" role="button" class="btn btn-sm btn-danger {% if room_num.capacity == 0 %}disabled{% endif %}" {% if room_num.capacity %}aria-disabled="true"{% endif %}>

                {% if room_num.is_booked %}
                    {% if room_num.capacity == 0 %}

                        {{room_num.room_number}}:Fully Booked

                    {% else %}
                        {% if room_num.capacity == 1 %}

                         {{room_num.room_number}}:{{room_num.capacity}} bed left:{{room_num.room_occupant_gender}}

                         {% else %}

                         {{room_num.room_number}}:{{room_num.capacity}}beds left:{{room_num.room_occupant_gender}}

                         {% endif %}

                    {% endif %}

                {% else %}

                    {{room_num.room_number}}:empty beds

                {% endif %}

            </a>
        </div>
            {% endfor %}
</div>

<!-- show more -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{room.hostel}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-1">
                    {% for obj in image_list %}
                    <div class="col-md-4 col-sm-12">
                        <img src="{{obj.room_type_images.url}}" class="img-fluid">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}