{% extends 'hostels/base.html' %}
{% load static %}
{% load tags %}

{% block title %}{{object.hostel_name}} Hostel - {{room.hostel.school.name}}-{{room.hostel.campus}} {% endblock %}
{% block content %}
<section class="details-mt mb-2">
    <p class="mx-3 lead text-uppercase"><a href="{% url 'rooms' %}" class="text-danger fw-bold"
            target="_blank">{{room.hostel.hostel_name}} ({{room.hostel.school.name}}-{{room.hostel.campus}})</a></p>
    <hr>
</section>
<section>
    <div class="container">
        <div class="text-center h7">{% if request.user == room.hostel.created_by %}
    <a href="{% url 'hostel-update' room.hostel.pk %}" class="bg-light shadow p-2 text-info">Edit details</a>
{% endif %}<span class="px-2 py-2 fw-bold mb-5 bg-light">Property Host:
                {{object.room.hostel.owner_name}}</span> {% if request.user == room.hostel.created_by %}
    <a href="{% url 'hostel-delete' room.hostel.pk %}" class="bg-light shadow p-2 text-danger">Delete hostel</a>
{% endif %}</div>

        <h4 class="mb-3 mt-3 text-capitalize text-decoration-underline fw-bold">where you will stay!</h4>
        <div class="d-flex justify-content-center">
            <div class="row g-1">
                <div class="col-md-8">
                    <div class="row g-1">
                        <div class="col-md-4 div-place">
                            <div class="d-flex justify-content-center"><img src="{{room.room_display_image.url}}" class="img-fluid">
                            </div>
                            <button class="btn btn-light btn-md show-all d-block d-md-none" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><i class="fa-solid fa-ellipsis-vertical"></i> <i
                                    class="fa-solid fa-ellipsis-vertical"></i> Show all</button>
                        </div>
                        {% for obj in image_list %}
                        <div class="col-md-4 d-none d-sm-block d-lg-block">
                            <img src="{{obj.room_type_images.url}}" class="img-fluid">
                        </div>
                        {% endfor %}
                        <div class="col-md-4 d-none d-sm-block d-lg-block div-place">
                            <img src="{{object.display_image.url}}" class="img-fluid">
                            <button class="btn btn-light btn-md show-all" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><i class="fa-solid fa-ellipsis-vertical"></i> <i
                                    class="fa-solid fa-ellipsis-vertical"></i> Show all</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="text-capitalize mb-3 mt-5 text-decoration-underline fw-bold">What this place offers!</h4>
        <div class="row">
            <div class="col-md-9">
                <!--offers inner row-->
                <div class="row">
                    {% for _, amenity in object.hostel.hostel_amenities.items %}
                    <div class="col-md-6 col-sm-12 py-1">
                        <span class="text-muted text-capitalize">
                            <i class="fa-solid fa-check-double text-danger border p-1 b-radius bg-light shadow"></i>
                            {{amenity}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8 col-sm-12 mt-5 mb-5 p-2">
            <h4 class="text-decoration-underline fw-bold">What you should know about. <span
                    class="text-danger">({{object.hostel_name}})</span></h4>
            <p class="text-dark">{{ object.details|safe }}</p>
        </div>
    </div>
    <!--Maps-->

</section>

<!--reserve-->
<div class="col-lg-3 col-md-4 reserve bg-light shadow">
    <h3 class="mx-2 text-capitalize font-monospace d-flex d-none d-sm-block d-lg-block">{{object.hostel_name}}</h3>
    <p class="mx-5 mt-3 mb-1 px-1 text-dark text-center border bg-light shadow  d-none d-sm-block d-lg-block"><span
            class="fw-bolder text-danger text-decoration-underline">Gh₵{{object.get_cost}}</span> for two semesters</p>
    <div class="d-flex d-none d-sm-block d-lg-block mx-3">
        <ul>
            <li><span class="fw-bold">{{object.get_dist}} walk to campus</span></li>
        </ul>
    </div>
    <div class="mx-5 d-none d-sm-block d-lg-block"><label for="guest" class="fw-bold">Guests</label>
        <select id="guest" name="guest" class="px-3">
            <option value="1" selected>I am coming alone.</option>
            <option value="2">2 guests.</option>
            <option value="3">3 guests.</option>
            <option value="4">4 guests.</option>
        </select>
    </div>
    <!--on large devices-->
    <div class="text-center my-3 d-none mx-1 btn-reserve py-2 d-sm-none d-md-block">
        <a href="{% url 'pay' object.pk %}" role="button"
            class="text-decoration-none btn btn-danger btn-lg text-center">book a room
            @{{object.hostel_name|truncatechars:5}}</span></a>
        <!-- <a href="tel:0594438287" role="button"
            class="text-decoration-none btn btn-danger btn-lg text-center">Contact: 0594438287</span></a>-->
    </div>
</div>
</div>
<!--for phones-->
<div class="d-flex justify-content-between bg-light  shadow d-block d-md-none mx-2 fix-bottom px-2 btn-reserve">
    <p class="text-dark text-center"><span
            class="fw-bolder text-danger text-decoration-underline">Gh₵{{object.get_cost}}</span></p>
    <!--<a href="{% url 'pay' object.pk %}" role="button"
        class="text-decoration-none btn btn-danger btn-sm btn-reserve mobile-btn">book a room
        @{{object.hostel_name|truncatechars:5}}</span></a>-->
    <a href="tel:0594438287" role="button"
        class="text-decoration-none btn btn-danger btn-sm btn-reserve mobile-btn">Contact: 0594438287</span></a>
</div>

<!-- show more -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{object.hostel_name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-1">
                    {% for obj in image_list %}
                    <div class="col-md-4 col-sm-12">
                        <img src="{{obj.images.url}}" class="img-fluid">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}