{% extends 'hostels/base.html' %}
{% load static %}


{% block title %}Rooms{% endblock %}
{% block content %}
<!-- Room Start -->
<div class="container-xxl py-5 mt-5">
    <div class="container mt-3">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-danger text-uppercase">All Rooms</h6>
            <h1 class="mb-5">Explore Our <span class="text-danger text-uppercase">Rooms</span></h1>
        </div>
        <div class="row g-4 pb-5 mb-5">
            {% for hostel in hostels %}
            {% if not hostel.no_of_rooms == 0 %}
            <div class="col-lg-4 col-md-6 wow fadeInUp rounded" data-wow-delay="0.1s">
                <div class="room-item shadow rounded overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid rounded border-top" src="{{hostel.image.url}}" alt="{{hostel.image.url}}">
                        <small
                            class="position-absolute start-0 top-100 translate-middle-y bg-danger text-white rounded py-1 px-3 ms-4">GHS{{hostel.cost_per_room}} / per
                            year</small>
                    </div>
                    <div class="p-4 mt-2">
                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="mb-0 text-uppercase">{{hostel.hostel_name}}</h5>
                        </div>
                        <div class="d-flex mb-3">
                            <small class="border-end me-3 pe-3">
                                {% if hostel.no_of_rooms > 1 %}<i class="fa fa-bed text-danger me-2"></i>{{hostel.no_of_rooms}} Rooms left
                                    {% else %}
                                    <i class="fa fa-bed text-danger me-2"></i>{{hostel.no_of_rooms}} Room left
                                {% endif %}
                            </small>
                            <small class="border-end me-3 pe-3">
                                <i class="fas fa-walking text-danger me-2"></i>
                                {{hostel.get_dist}} walk to campus</small>
                            <small><i class="fa fa-wifi text-danger me-2" title="wifi"></i>{{hostel.wifi}}</small>
                        </div>
                        <p class="text-body mb-3">{{hostel.details|safe|truncatechars:167}}</p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-sm btn-danger rounded py-2 px-4"
                                href="{% url 'hostel-detail' hostel.pk %}">View Detail</a>
                            <a class="btn btn-sm btn-dark rounded py-2 px-4"
                                href="{% url 'pay' hostel.pk %}">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <h1>No rooms available yet</h1>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Room End -->
{% endblock %}