{% extends 'hostels/base.html' %}


{% block title %}Room List{% endblock %}
{% block content %}
 <section class="user">
    {% for room in rooms %}
    {% if forloop.counter == 1 %}
 	<h1>Rooms categories at {{room.hostel.hostel_name}}</h1>
    <hr>
    {% endif %}
    {% endfor %}
    <div class="container">
        <div class="row d-flex justify-content-between sm-margin">
            <!--{% include 'hostels/results.html' %}-->
            {% for room in rooms %}
            {% if not room.room_type_number == 0 %}
            <div class="col-sm-12 col-md-4 col-lg-3 mb-3" data-aos="fade-up">
                <a href="{% url 'room-detail' room.pk room.room_type %}">
                    <div class="d-flex justify-content-center"><img src="{{room.room_display_image.url}}"
                        alt="{{room..hostel.hostel_name}}" class="img-fluid round"></div>
                    <div class="d-flex justify-content-between">
                        <p class="text-capitalize text-color">Type: {{room.room_type}}</p>
                        <p class="text-capitalize text-color">Gh₵: {{room.rate_per_head}}</p>
                    </div>
                    <div class="d-flex justify-content-between border-top">
                        <span class="border-end text-dark">
                            <b class="text-danger">Total: </b>{{room.room_type_number}}</span>
                        <span class="border-end text-dark"><b class="text-danger">capacity:</b>
                            {{room.room_capacity}}</span>
                        <span class="text-dark"><i class="fa-solid fa-users text-danger"></i> 12</span>
                    </div>
                    <small class="text-muted text-capitalize"><b>Your Host:</b>: {{room.hostel.owner_name}}</small>
                    <span class="d-block"><small class="text-color pt-2 text-capitalize mb-1">{{room.hostel.school.name}}| {{room.hostel.campus}}</small></span>
                </a>
            </div>
            {% else %}
            <div class="container">
                    <p class="text-dark fw-bold">All rooms are fully booked. Check back in a few days</p>
                </div>
            {% endif %}
            {% empty %}
            <section>
                <div class="container">
                    <p class="text-dark fw-bold">No rooms available yet. Check back in a few days</p>
                </div>
            </section>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center"> <a href="#">Go back</a> </div>
 </section>
{% endblock %}