{% extends 'hostels/base.html' %} {% load static %} {% block title %}Booking
Details{% endblock %} {% block content %}
<section class="user bg-light">
  <div>
    <button class="btn btn-md btn-outline-info">
      <i class="fa-solid fa-layer-group fa-2x"></i>
    </button>
  </div>
  <p
    class="lead fw-bolder text-dark text-decoration-underline pb-2 text-capitalize text-center"
  >
    Welcome {{request.user}}
  </p>
  <small
    class="d-block lead font-monospace text-center text-danger pb-3 text-decoration-underline"
    >Take the power into your hands.</small
  >
  <p
    class="text-center fw-bolder text-secondary text-decoration-underline text-start"
  >
    Your Booking.
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <table
          class="table table-success table-striped table-hover table-bordered vacant"
          id="pending"
        >
          <thead>
            <tr>
              <th scope="col">Hostel</th>
              <th scope="col">Room</th>
              <th scope="col">Expires</th>
              <th scope="col">Room Type</th>
              <th scope="col">Load Info</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in dash %}
            <tr>
              <th scope="row">{{booking.hostel}}</th>
              <td>{{booking.room_no}}</td>
              <td>{{booking.expiration_date|date:'M d, Y'}}</td>
              <td>{{booking.room_type}}</td>
              <td>
                <button
                  class="btn btn-md btn-outline-info"
                  id="{{booking.ref}}"
                  data-bs-toggle="modal"
                  data-bs-target="#{{booking.room_no}}"
                >
                  <i class="fa-solid fa-circle-info"></i>
                </button>
                <div
                  class="modal fade"
                  id="{{booking.room_no}}"
                  tabindex="-1"
                  aria-labelledby="Booking"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <p class="fw-bolder text-dark">{{booking.hostel}}</p>
                      </div>
                      <div class="modal-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">First</th>
                              <th scope="col">Last</th>
                              <th scope="col">Home Town</th>
                              <th scope="col">Sex</th>
                              <th scope="col">Tel</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>{{booking.first_name}}</td>
                              <td>{{booking.last_name}}</td>
                              <td>{{booking.city_or_town}}</td>
                              <td>{{booking.gender}}</td>
                              <td>{{booking.phone_number}}</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td colspan="5" class="text-center fw-bolder">
                                Hostel Info
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>Larry the Bird</td>
                            </tr>
                          </tbody>
                        </table>
                        <p>{{booking.room_type}}</p>
                        <p>{{booking.room_no}}</p>
                        <p></p>
                        <p>{{booking.email_address}}</p>
                        <p>{{booking.city_or_town}}</p>
                        <p>{{booking.university_identification_number}}</p>
                        <p>{{booking.region_of_residence}}</p>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <a
                  href="{% url 'delete-booking' booking.pk %}"
                  role="button"
                  title="{{booking.hostel}}"
                  class="btn btn-md btn-outline-danger deleted"
                  ><i class="fa-solid fa-trash-can"></i
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <p
    class="text-dark text-center pt-5 lead text-decoration-underline fw-bolder"
  >
    End!
  </p>
</section>
{% endblock %}
