<p class="text-center fw-bolder text-secondary text-decoration-underline">Vacant Rooms.</p>
<table class="table table-success table-striped table-hover table-bordered vacant" id="vacancies">
  <thead>
    <tr>
      <th scope="col">Room Type</th>
      <th scope="col">Room Number</th>
      <th scope="col">Total Beds</th>
      <th scope="col">Beds Left</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for room in rooms %}
    <tr>
      <td>{{room.room_type}}</th>
      <td>{{room.room_number}}</td>
      <td>{{room.room_type.max_capacity}} beds</td>
      <td>{% if not room.capacity == 0 %} {{room.capacity}} (bed)s {% else %} Full {% endif %}</td>
      <td>GHS{{room.original_amount}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
