{% extends 'hostels/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Ulas|Login{% endblock %}
{% block content %}
<section class="mt-1 mb-5 pb-5">
    <div class="container">
        <div class="row bg-light d-flex justify-content-center">
            <p class="lead text-center p-3 bg-success text-warning">
                Enter your correct details below to log into your account.
            </p>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-success">
                            {{form|crispy}}
                            <div class="form-group text-center mt-3">
                                <button class="btn btn-outline-success" type="submit">Sign In</button>
                                <small class="text-muted ml-2">
                                    <a href="{% url 'password-reset' %}">Forgot Password</a>
                                </small>
                            </div>
                        </div>
                        <div class="border-top pt-3 m-3">
                            <small class="text-muted  text-white">
                                Don't have an account? <a href="{% url 'register' %}" class="text-success">Sign Up</a>
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
