{% extends 'hostels/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}




{% block content %}
<section class="user">
    <div class="container5">
        <div class="row d-flex justify-content-center bg-light">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <p class="lead text-center p-3 text-dark fw-bold">Update Profile Info</p>
                <div class="row">
                    <div class="col-sm-12 col-md-12 d-flex justify-content-center">
                        <img src="{{user.profile.image.url}}" class="rounded-circle" style="width: 15%;">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <label>First Name:</label><br>
                        <p class="lead text-capitalize text-dark">{{user.first_name}}</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <label>Last Name:</label><br>
                        <p class="lead text-capitalize text-dark">{{user.last_name}}</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <label>Email Address:</label><br>
                        <p class="lead text-capitalize text-dark">{{user.email}}</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <label>Phone:</label><br>
                        <p class="lead text-capitalize text-dark">{{user.telephone}}</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <label>ID Number:</label><br>
                        <p class="lead text-capitalize text-dark">{{user.ghana_card_number}}</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <label>Gender:</label><br>
                        <p class="lead text-capitalize text-dark">{{user.gender}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}