html {
    scroll-behavior: smooth;
}

body,
html,
a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,.h7 {
    color: #191970;
    font-family: 'Ubuntu', sans-serif;
}
.title-font{
    font-family: 'Ubuntu', sans-serif;
    color: #2F4F4F;
}
.nav-border button {
    font-size: smaller;
}

.room-mt{
    margin-top: 10em;
}

@media (max-width: 768px) {}

@media (max-width: 425px) {
    .sm-margin{
        margin: 0 2px 0 2px;
    }
}

/*index htm*/
.sec-bg {
    background: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sec-bg h1,
p {
    color: white;
}

.dark {
    background-color: #000;
    opacity: 0.7;
}

.border-icon {
    border: double wheat;
}

.d-hover {
    border: solid transparent;
    border-radius: 4%;
}

.service-link:hover {
    background-color: #ffd700;
    color: white;
    transition: 0.9s;
}

nav img {
    width: 50px;
}

.service-link:hover h3 {
    text-decoration: underline;
}

.margin-bottom{
    margin-top: 5em;
}

.nav-border,
.nav-border .btn-border {
    border: solid transparent;
    border-radius: 12rem;
}


.btn-pink {
    background-color: #c83445;
    border: solid transparent;
    border-radius: 10%;
}

.btn-pink:hover {
    background-color: #ff0000;
}

.round {
    border: solid transparent;
    border-radius: 10%;
}

/*navbar*/
.o-hidden {
    overflow: hidden;
}

.nav {
    transition: transform 0.4s;
    transform: translateX(50%);
    left: -50%;
}

.nav.justify-content-end {
    transform: translateX(0);
    left: 0;
}

.font-color a {
    color: #000;
}

.font-color a:hover {
    color: #000;
    text-decoration: underline;
    transition: 0.6ms;
}
