{% extends 'hostels/base.html' %}


{% block title %}Delete booking?{% endblock %}
{% block content %}
<section class="user pb-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-10 bg-light">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-danger">
                            <p class="lead text-center p-3 text-dark fw-bold">Are you sure you want to delete You booking</p>
                            <div class="form-group text-center my-3 d-flex justify-content-between">
                                <a href="{% url 'booking-details' %}" type="button" class="btn btn-outline-info">Take me Back</a>
                                <button class="btn btn-outline-danger" type="submit">Confirm Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}